* {
    box-shadow: none;
    outline: none;
}

body {
    height: 100%;
    width: 100%;
    margin: 0% auto;
    background-color: #F7B617;
    overflow-x: hidden;
}

a:link {
    text-decoration:none;
} 

/* PRIMEIRA SEÇÃO DO SITE */

.img-container {
    height: 100vh;
}

.taxi-img {
    height: 100vh;
    background-image: url(../assets/images/taxi.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.divider-yellow-box {
    height: 25%;
}

.yellow-box {
    height: 60%;
    width: 40%;
    margin-left: 60%;
    background-color: #F7B617;
    
}

.yellow-box-txt {
    color: #fff;
    font-weight: bold;
    padding: 5vh 0vh 0vh 5vh;
}

.yellow-box-txt h2 {
    font-size: 35px;
}

.yellow-box-txt p {
    padding: 5vh 0vh 0vh 0vh;
}

.yellow-box-btn {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0vh 5vh;
}

.yellow-box-btn:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.yellow-box-btn:active {
    box-shadow: none;
    outline: none;
    background-color: #fff;
    color: #000;
} 

.first-yellow-box-hr {
    display: inline-block;
    background-color: #fff;
    width: 18vh;
    margin: 5vh 0vh 0vh 7vh;
}

.second-yellow-box-hr {
    display: inline-block;
    background-color: #fff;
    width: 18vh;
    margin: 0vh 0vh 0vh 2vh; 
}

.o-bien p {
    display: inline-block;
    margin: 0vh 8vh;
    font-weight: bolder;
}

.o-bien-btn {
    background-color: #fff;
    color: #000;
    font-weight: bolder;
    margin: 5vh 5vh;
    border: none;
}

.o-bien-btn:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.o-bien-btn:active {
    box-shadow: none;
    outline: none;
    background-color: #fff;
    color: #000;
} 

/* SEGUNDA SEÇÃO DO SITE */

.h2,.h4,.h6,.h3,.h1,p{
    color: white;
  }

.cel-box {
    background: #F7B617;
    height: 60vh;
}

.row h3 {
    font-size: 30px;
    font-weight: bolder;
}

.iphone{
    border: white 1px solid;
    margin-top: 10vh;
    border-left: none;
    padding: 4vh;
    height: 60vh;
    font-size: 120%;
}

.iphone img{
    height: 50vh;
    margin-top: 1vh;
}

.iphone p{
    margin-top: 2vh;
    font-size: 22px;
}

/* TERCEIRA SEÇÃO DO SITE */

.divider {
    height: 10vh;
    background-color: #F7B617;
}

.driver-img {
    height: 70vh;
    width: 100%;
    background-image: url(../assets/images/conduce.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.drive h3 {
    font-size: 30px;
    font-weight: bolder;
}

.drive p {
    font-size: 18px;
}

.drive {
    background-image: url("../assets/images/conduce.jpg");
    background-size: cover;
    background-position: 95% 50%;
    height: 70vh;
}

.jumbo-drive {
    background: rgba(0, 0, 0, 0.57);
    height: 100%;
    width: 20vh;
    padding: 3%;
}

.jumbo-drive h3 {
    margin-top: 8vh;
}

.jumbo-drive>button {
    background: #F7B617;
    border: none;
    color: #fff;
}

/* QUARTA SEÇÃO DO SITE */


.tarifas {
    height: 80vh;
    width: 100%;
    background: #F7B617;
}

.tarifas h1, .tarifas h2, .tarifas h3, .tarifas h4, .tarifas p {
    color: #fff;
}

.tarifas h3 {
    margin-bottom: 4vh;
}

.tarifas h4 {
    font-size: 20px;
    margin-bottom: 3vh;
}

.tarifa-box {
    padding: 6% 0%;
}

.divider-row {
    height: 3vh;
}

.ingrese {
    background-color: transparent;
    border: #fff 1px solid;
}

.form-group input:focus {
    background-color: transparent;
    border: #fff 1px solid;
    box-shadow: none;
    color: #fff;
}

.button-map {
    background-color: #fff;
    margin: 1vh 0vh;
    font-weight: bolder;
}

/* QUINTA SEÇÃO DO SITE - FOOTER */

.footer {
    height: 80vh;
    width: 100%;
    background: #2B2B2B;
}

.lab-logo-black {
    padding-top: 5%;
    
}

.first-hr {
    background-color: #fff;
    width: 81%;
}

.card, .list-group, .list-group-item {
    background-color: #2B2B2B;
    border: none;
    outline: none;
}

.list-group li a {
    color: #fff;
}

.app-download-icon {
    padding-top: 17%;
}

.app-download-icon img {
    padding-bottom: 2vh;
}

.footer-bottom {
    height: 15vh;
    width: 100%;
    background: #2B2B2B;
}

.second-hr {
    background-color: #fff;
    width: 81%;
}

.icons-bottom i {
    color: #fff;
}

.credits {
    font-size: 15px;
}

/*\\\\\\\\\\\\\\\\\\\\\ MODAIS DO SITE ////////////////////*/

/* MODAL INICIAR */

#modal-iniciar .modal-content, #modal-iniciar .modal-body {
    background-color: #08AC9D;
}

#modal-iniciar .modal-header i {
    font-size: 150px;
    color: #D3D3D3;
}

#modal-iniciar .modal-footer {
    border: #D3D3D3;
}

#modal-iniciar .login-box {
    background-color: #F5F5F5;
    display: inline-block;
    margin: 0% 20%;
}

#modal-iniciar .fa-user {
    color: #7E878A;
    background-color: #E9E9E9;
    padding: 1.45vh;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #D3D3D3;
}

#modal-iniciar .fa-lock {
    color: #7E878A;
    background-color: #E9E9E9;
    padding: 1.5vh;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #D3D3D3;
}

#modal-iniciar .user-box, .pass-box {
    border-radius: 20px 20px;
    margin: 2vh 0vh;
}

#modal-iniciar .btn-login {
    color: #fff;
    background-color: #F0AD4E;
    border: none;
    border-radius: 4px 4px 4px 4px;
    padding: 5px 10px;
    margin: 1vh 12vh;
}

#modal-iniciar .login-box p {
    margin: 1vh 0vh;
    color: #808080;
}

#modal-iniciar .login-box a {
    color: rgb(216, 81, 81);
}

/* MODAL REGISTRO */

#modal-registro .modal-header, #modal-registro .modal-body {
    border: none;
    background-color: #C3C3C3;
}

#modal-registro .btn-cuenta {
    background-color: #000;
    color: #fff;
    border: none;
    box-shadow: none;
    font-weight: bolder;
}

#modal-registro .modal-body p {
    color: #000;
    text-align: center;
    font-size: 15px;
}

.first-box-name {
    display: inline-block;
}

#nombre-box {
    display: inline-block;
    width: 34vh;
}

#apellido-box {
    display: inline-block;
    width: 34vh;
}

.box-info {
    margin: 1vh 0vh;
}

#drop-btn {
    width: 34vh;
}

.center-txt {
    text-align: center;
}

.dropdown {
    margin: 1vh 0vh;
    box-shadow: none;
}

.dropdown a {
    margin: 1vh 0vh;
    box-shadow: none;
}

.info-box:active {
    box-shadow: none;
}

.dd-btn {
    background-color: #DDDDDD;
    border: none;
    color: #000;
    padding: 1vh 0vh;
    box-shadow: none;
}

.enviar-btn {
    width: 69vh;
    margin: 1vh 0vh;
    background-color: #5BC0DE;
    border: none;
    box-shadow: none;
}
/* MODAL CONDUTOR */

/*\\\\\\\\\\\\\\\\\\\\\FIM DOS MODAIS DO SITE ////////////////////*/

/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

@media screen and (max-width: 480px) {
    .taxi-img {
        height: 80vh;
    }
    .iphone-hidden {
        display: 
    }
}
}